.img_fileInput {
  background-color: aquamarine;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

.img {
  width: 500px;
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bounding-box {
  position: absolute;
  -webkit-box-shadow: 0 0 0 3px #149df2 inset;
          box-shadow: 0 0 0 3px #149df2 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.age {
  background-color: yellow;
  width: 30%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.can_vas {
  position: absolute;
  left: 0;
  height: 400px;
  width: 500px;
  top: 0;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  margin: 0;
  color: white;
  font-size: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem 0;
  background-color: #0f0e17;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  z-index: 1;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: auto;
}

.nav__logo {
  margin: 0;
}

.nav__list__item {
  margin-right: 2rem;
}

.nav__item {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff8906;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #ff8906;
          box-shadow: 0 0 1px #ff8906;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  height: 95vh;
  background-color: #ff8906;
  margin: 0;
  padding-top: 3rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  font-size: 6rem;
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

.section-cards {
  width: 100%;
  background-color: #0f0e17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 7rem;
}

.card {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  background-color: white;
  margin: 1rem;
  border-radius: 2rem;
  border: 0.3rem solid #e8e4e6;
  -webkit-box-shadow: slateblue;
          box-shadow: slateblue;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__title {
  margin: 0;
  padding: 2rem;
  font-family: fantasy;
  color: black;
}

.card__img {
  width: 100%;
  border-radius: 2rem;
  padding-bottom: 3rem;
}

.section-cards__title {
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding-top: 2rem;
  font-size: 3.5rem;
}

.pattern-cross-dots-xl {
  color: white;
}

.card2 {
  padding-bottom: 3.3rem;
}
/*# sourceMappingURL=main.css.map */