.pattern-dots-lg{
    height: 95vh;
    background-color: #ff8906;
    margin: 0;
    padding-top: 3rem;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    font-size: 6rem;
    color: white;
}