.img_fileInput {
    background-color: aquamarine;
    border-radius: 0.3rem;
    margin-bottom:2rem;
}


.img {
    width: 30%;
    height: 50vh;
    box-sizing: border-box;
    background-color: red;
}